<!-- Page Content-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder">Frequently Asked Questions</h1>
            <p class="lead fw-normal text-muted mb-0">How can we help you?</p>
        </div>
        <div class="row gx-5">
            <div class="col-xl-8">
                <!-- FAQ Accordion 1-->
                <h2 class="fw-bolder mb-3">Car Issues</h2>
                <div class="accordion mb-5" id="accordionExample">
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What should I do if my Bentley experiences engine issues?</button></h3>
                        <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                If you encounter engine issues with your Bentley, we recommend contacting our customer support immediately at <a href="tel:+123456789">+1 (234) 567-89</a>. Our team will guide you through troubleshooting steps or schedule a service appointment to address the problem promptly.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How can I resolve problems with the car's electronic systems?</button></h3>
                        <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Electronic system issues can be complex, but you can start by checking the vehicle's manual for troubleshooting tips. If the problem persists, reach out to our technical support team at <a href="mailto:support@bentley.com">support@bentley.com</a> for personalized assistance.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">What to do if my Bentley experiences issues with the suspension?</button></h3>
                        <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Suspension issues require professional attention. Contact our service center to schedule an inspection. Visit our website or call <a href="tel:+123456789">+1 (234) 567-89</a> for assistance.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FAQ Accordion 2-->
                <h2 class="fw-bolder mb-3">Website Issues</h2>
                <div class="accordion mb-5 mb-xl-0" id="accordionExample2">
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingOne2"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">How can I troubleshoot website login problems?</button></h3>
                        <div class="accordion-collapse collapse show" id="collapseOne2" aria-labelledby="headingOne2" data-bs-parent="#accordionExample2">
                            <div class="accordion-body">
                                If you're experiencing login issues on our website, try resetting your password. If the problem persists, contact our website support team at <a href="mailto:web_support@bentley.com">web_support@bentley.com</a> for assistance in resolving the login problem.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingTwo2"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">Why can't I access certain features on the Bentley website?</button></h3>
                        <div class="accordion-collapse collapse" id="collapseTwo2" aria-labelledby="headingTwo2" data-bs-parent="#accordionExample2">
                            <div class="accordion-body">
                                If you're unable to access specific features on our website, it could be due to browser compatibility or technical issues. Please ensure your browser is up-to-date. If the problem persists, contact our website support team for further assistance.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingThree2"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">How can I report a bug on the Bentley website?</button></h3>
                        <div class="accordion-collapse collapse" id="collapseThree2" aria-labelledby="headingThree2" data-bs-parent="#accordionExample2">
                            <div class="accordion-body">
                                To report a bug on our website, please email details to <a href="mailto:bugs@bentley.com">bugs@bentley.com</a>. Include a description of the issue, steps to reproduce it, and any screenshots if possible. Your feedback helps us improve our online experience.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card border-0 bg-light mt-xl-5">
                    <div class="card-body p-4 py-lg-5">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="text-center">
                                <div class="h6 fw-bolder">Have more questions?</div>
                                <p class="text-muted mb-4">
                                    Contact us at
                                    <br />
                                    <a href="tel:+123456789">+1 (234) 567-89</a>
                                </p>
                                <div class="h6 fw-bolder">Follow us</div>
                                <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-twitter"></i></a>
                                <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-facebook"></i></a>
                                <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-linkedin"></i></a>
                                <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
