
        <img class="card-img-top" src="assets/bentleyazul.jpg" alt="Blue Bentley" />
        <div class="card-body p-4">
            <div class="badge bg-success bg-gradient rounded-pill mb-2">Luxury</div>
            <a class="text-decoration-none link-dark stretched-link" href="https://www.bentleymotors.com/en.html"><h5 class="card-title mb-3">Bentley Flying Spur Mulliner</h5></a>
            <p class="card-text mb-0">The Bentley Flying Spur Mulliner epitomizes opulence with unparalleled craftsmanship. Immerse yourself in a realm of luxury, enveloped in exquisite materials and meticulous design. Its powerful performance complements the regal interior, offering a driving experience beyond compare.</p>
            <app-boton></app-boton>
        </div>
        
