<div class="col-lg-10 col-xl-7">
    <div class="text-center">
        <div class="fs-4 mb-4 fst-italic">
            "Achieve your initial goals, then go for the rest, but now in a Bentley."
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <img class="rounded-circle me-3" src="assets/walter.jpg" alt="Walter Bentley"  id="walter"/>
            <div class="fw-bold">
                Walter Owen Bentley
                <span class="fw-bold text-primary mx-1">/</span>
                Bentley Creator
            </div>
        </div>
    </div>
</div>