 <!-- Features section-->
 <section class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Why you should choose Bentley</h2></div>
            <div class="col-lg-8">
                <app-why></app-why>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial section-->
<div class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <app-sentence></app-sentence>
        </div>
    </div>
</div>
<!-- Blog preview section-->
<section class="py-5" id="blog">
    <div class="container px-5 my-5">
        <app-cars></app-cars>
    </div>
</section>


