 <!-- Features section-->
 <section class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Why you should choose Bentley</h2></div>
            <div class="col-lg-8">
                <app-why></app-why>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial section-->
<div class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <app-sentence></app-sentence>
        </div>
    </div>
</div>
<!-- Blog preview section-->
<section class="py-5" id="blog">
    <div class="container px-5 my-5">
        <app-cars></app-cars>
    </div>
</section>
<div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
    <div class="mb-4 mb-xl-0">
        <div class="fs-3 fw-bold text-white">New cars, showed to you.</div>
        <div class="text-white-50">Sign up for our newsletter for the latest updates.</div>
    </div>
    <div class="ms-xl-4">
        <div class="input-group mb-2">
            <input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" />
            <button class="btn btn-outline-light" id="button-newsletter" type="button">Sign up</button>
        </div>
        <div class="small text-white-50">We care about privacy, and will never share your data.</div>
    </div>
</div>


