<div class="container px-5 my-5">
    <div class="row gx-5 align-items-center">
        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="assets/inicios2.webp" alt="Inicios Bentley 2" /></div>
        <div class="col-lg-6">
            <h2 class="fw-bolder">Growth &amp; Beyond</h2>
            <p class="lead fw-normal text-muted mb-0">Bentley's journey of growth is a testament to its unwavering commitment to innovation and excellence. From its humble beginnings, the brand has evolved into a symbol of automotive prestige and sophistication. Embracing challenges and pushing boundaries, Bentley's path forward continues to be marked by a dedication to surpassing expectations and reaching new heights in luxury and performance.</p>
        </div>
        
    </div>
</div>