<main class="flex-shrink-0">
    <!-- Contenido de la página -->
    <section class="py-5">
        <div class="container px-5">
            <h1 class="fw-bolder fs-5 mb-4">Bentley Blog</h1>
            <div class="card border-0 shadow rounded-3 overflow-hidden">
                <div class="card-body p-0">
                    <div class="row gx-0">
                        <div class="col-lg-6 col-xl-5 py-lg-5">
                            <div class="p-4 p-md-5">
                                <div class="badge bg-success bg-gradient rounded-pill mb-2">Descubrimientos</div>
                                <div class="h2 fw-bolder">El Bentley GT cumple 20 años</div>
                                <p>El Bentley Continental GT, el primer proyecto de la compañía tras su compra por VW, fue capaz de recuperar el glorioso pasado de la firma británica</p>
                                <a class="stretched-link text-decoration-none" href="https://www.elmundo.es/motor/2023/06/29/649d1036e4d4d8d7728b456e.html">
                                    Leer más
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog" style="background-image: url('assets/bentley-continental-gt-2018-1.jpg')"></div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5 bg-light">
        <div class="container px-5">
            <div class="row gx-5">
                <div class="col-xl-8">
                    <h2 class="fw-bolder fs-5 mb-4">Noticias de Bentley</h2>
                <!-- Artículo de noticias-->
                <div class="mb-4">
                    <div class="small text-muted">23 de Noviembre de 2023</div>
                    <a class="link-dark" href="https://www.marca.com/coches-y-motos/coches/bentley.html"><h3>
                        Coches Bentley | Todos los modelos, noticias, fichas...</h3></a>
                </div>
                <!-- Artículo de noticias-->
                <div class="mb-5">
                    <div class="small text-muted">15 de Noviembre de 2023</div>
                    <a class="link-dark" href="https://www.lavanguardia.com/motor/actualidad/20230819/9144657/primer-coche-electrico-bentley-sigue-canones-sofisticacion-lujo-marca-britanica-tsc.html"><h3>Bentley presenta avances tecnológicos en sus vehículos</h3></a>
                </div>
                <!-- Artículo de noticias-->
                <div class="mb-5">
                    <div class="small text-muted">7 de Noviembre de 2023</div>
                    <a class="link-dark" href="https://www.lavanguardia.com/motor/coches-bonitos/20170830/43920021930/bentley-continental-gt-2018.html"><h3>
                        Descubre la máxima expresión del lujo en el nuevo Bentley Continental GT
                    </h3></a>
                </div>
                </div>
                <div class="col-xl-4">
                    <div class="card border-0 h-100">
                        <div class="card-body p-4">
                            <div class="d-flex h-100 align-items-center justify-content-center">
                                <div class="text-center">
                                    <div class="h6 fw-bolder">Contacto</div>
                                    <p class="text-muted mb-4">
                                        Para consultas de prensa, envíenos un correo electrónico a
                                        <br />
                                        <a href="/">bentley@gmail.com</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Sección de vista previa del blog -->
    <section class="py-5">
        <div class="container px-5">
            <h2 class="fw-bolder fs-5 mb-4">Historias Destacadas</h2>
            <div class="row gx-5">
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="assets/1.jpg" alt="Bentley" />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">Historias de Bentley</div>
                            <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">El arte de la artesanía: Explorando el estudio de diseño de Bentley</div></a>
                            <p class="card-text mb-0">Descubre la meticulosa artesanía que se incorpora a cada obra maestra de Bentley, donde la tradición y la innovación se encuentran en armonía.</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                    <div class="small">
                                        <div class="fw-bold">Sophia Bennett</div>
                                        <div class="text-muted">15 de abril de 2023 &middot; 5 min de lectura</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="assets/2.jpg" alt="Bentley" />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">Experiencias Multimedia</div>
                            <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">Explorando la Elegancia: Una mirada más cercana a la experiencia Bentley</div></a>
                            <p class="card-text mb-0">Sumérgete en la experiencia Bentley con contenido multimedia que destaca la elegancia y el rendimiento incomparables.</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                    <div class="small">
                                        <div class="fw-bold">Josiah Barclay</div>
                                        <div class="text-muted">23 de marzo de 2023 &middot; 4 min de lectura</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="assets/3.jpg" alt="Bentley" />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">Últimas Noticias de Bentley</div>
                            <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">Descubriendo el Futuro: Novedades Recientes en la Gama Bentley</div></a>
                            <p class="card-text mb-0">Mantente informado sobre las últimas noticias y avances emocionantes en la gama de vehículos Bentley.</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                    <div class="small">
                                        <div class="fw-bold">Evelyn Martinez</div>
                                        <div class="text-muted">2 de abril de 2023 &middot; 10 min de lectura</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="text-end mb-5 mb-xl-0">
                <a class="text-decoration-none" href="#!">
                    Más historias
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </section>
</main>
