<section class="py-5">
    <div class="container px-5">
        <h2 class="fw-bolder fs-5 mb-4">Historias Destacadas</h2>
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="assets/1.jpg" alt="Bentley" />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Historias de Bentley</div>
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">El arte de la artesanía: Explorando el estudio de diseño de Bentley</div></a>
                        <p class="card-text mb-0">Descubre la meticulosa artesanía que se incorpora a cada obra maestra de Bentley, donde la tradición y la innovación se encuentran en armonía.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="small">
                                    <div class="fw-bold">Sophia Bennett</div>
                                    <div class="text-muted">15 de abril de 2023 &middot; 5 min de lectura</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="assets/2.jpg" alt="Bentley" />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Experiencias Multimedia</div>
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">Explorando la Elegancia: Una mirada más cercana a la experiencia Bentley</div></a>
                        <p class="card-text mb-0">Sumérgete en la experiencia Bentley con contenido multimedia que destaca la elegancia y el rendimiento incomparables.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="small">
                                    <div class="fw-bold">Josiah Barclay</div>
                                    <div class="text-muted">23 de marzo de 2023 &middot; 4 min de lectura</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="assets/3.jpg" alt="Bentley" />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Últimas Noticias de Bentley</div>
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">Descubriendo el Futuro: Novedades Recientes en la Gama Bentley</div></a>
                        <p class="card-text mb-0">Mantente informado sobre las últimas noticias y avances emocionantes en la gama de vehículos Bentley.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="small">
                                    <div class="fw-bold">Evelyn Martinez</div>
                                    <div class="text-muted">2 de abril de 2023 &middot; 9 min de lectura</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="text-end mb-5 mb-xl-0">
            <a class="text-decoration-none" href="#!">
                Más historias
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
</section>