<section class="py-5 bg-light">
    <div class="container px-5">
        <div class="row gx-5">
            <div class="col-xl-8">
                <h2 class="fw-bolder fs-5 mb-4">Noticias de Bentley</h2>
            <!-- Artículo de noticias-->
            <div class="mb-4">
                <div class="small text-muted">23 de Noviembre de 2023</div>
                <a class="link-dark" href="https://www.marca.com/coches-y-motos/coches/bentley.html"><h3>
                    Coches Bentley | Todos los modelos, noticias, fichas...</h3></a>
            </div>
            <!-- Artículo de noticias-->
            <div class="mb-5">
                <div class="small text-muted">15 de Noviembre de 2023</div>
                <a class="link-dark" href="https://www.lavanguardia.com/motor/actualidad/20230819/9144657/primer-coche-electrico-bentley-sigue-canones-sofisticacion-lujo-marca-britanica-tsc.html"><h3>Bentley presenta avances tecnológicos en sus vehículos</h3></a>
            </div>
            <!-- Artículo de noticias-->
            <div class="mb-5">
                <div class="small text-muted">7 de Noviembre de 2023</div>
                <a class="link-dark" href="https://www.lavanguardia.com/motor/coches-bonitos/20170830/43920021930/bentley-continental-gt-2018.html"><h3>
                    Descubre la máxima expresión del lujo en el nuevo Bentley Continental GT
                </h3></a>
            </div>
            </div>
            <div class="col-xl-4">
                <div class="card border-0 h-100">
                    <div class="card-body p-4">
                        <div class="d-flex h-100 align-items-center justify-content-center">
                            <div class="text-center">
                                <div class="h6 fw-bolder">Contacto</div>
                                <p class="text-muted mb-4">
                                    Para consultas de prensa, envíenos un correo electrónico a
                                    <br />
                                    <a href="/">bentley@gmail.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>