
<img class="card-img-top" src="assets/bentleybenatyga.jpg" alt="Blue Bentley" />
<div class="card-body p-4">
    <div class="badge bg-success bg-gradient rounded-pill mb-2">SUV Elegance</div>
    <a class="text-decoration-none link-dark stretched-link" href="https://www.bentleymotors.com/en.html"><h5 class="card-title mb-3">Bentley Bentayga</h5></a>
    <p class="card-text mb-0">Indulge in the epitome of luxury SUVs with the Bentley Bentayga. Merging performance with sophistication, this SUV boasts a harmonious blend of cutting-edge technology and handcrafted opulence. From its commanding presence on the road to its meticulously designed interior, the Bentayga redefines the SUV experience.</p>
    <app-boton></app-boton>
</div>
