<div class="row gx-5 row-cols-1 row-cols-md-2">
    <div class="col mb-5 h-100">
        <div class="feature bg-success bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
        <h2 class="h5">Luxurious Craftsmanship</h2>
        <p class="mb-0">Bentley is renowned for its exceptional craftsmanship and attention to detail.</p>
    </div>
    <div class="col mb-5 h-100">
        <div class="feature bg-success bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
        <h2 class="h5">Powerful Performance</h2>
        <p class="mb-0">Bentleys are known for their powerful and high-performance engines. </p>
    </div>
    <div class="col mb-5 mb-md-0 h-100">
        <div class="feature bg-success bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
        <h2 class="h5">Exclusivity and Prestige</h2>
        <p class="mb-0">Bentley cars are associated with exclusivity and prestige.</p>
    </div>
    <div class="col h-100">
        <div class="feature bg-success bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
        <h2 class="h5">Customization Options</h2>
        <p class="mb-0">Bentley offers a high level of customization for its vehicles.</p>
    </div>
</div>