
        <img class="card-img-top" src="assets/bentleygris.jpg" alt="Bentley Gris" />
        <div class="card-body p-4">
            <div class="badge bg-success bg-gradient rounded-pill mb-2">Classic</div>
            <a class="text-decoration-none link-dark stretched-link" href="https://www.bentleymotors.com/en.html"><h5 class="card-title mb-3">Continental GT S</h5></a>
            <p class="card-text mb-0">
            Styled to set hearts racing and powered by a 4.0-liter V8 engine, the Continental GT S exudes sporting attitude. Its sleek design and meticulously crafted details redefine automotive elegance, 
            while the dynamic performance delivered by the powerful V8 engine ensures an exhilarating driving experience.
            </p>
            <app-boton></app-boton>
        </div>
        
