<div class="container px-5 my-5">
    <div class="row gx-5 align-items-center">
        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="assets/inicios.webp" alt="Inicios Bentley" /></div>
        <div class="col-lg-6">
            <h2 class="fw-bolder">Our Founding</h2>
            <p class="lead fw-normal text-muted mb-0">Bentley's journey began with a vision of uncompromising luxury and performance. Founded with a passion for craftsmanship and innovation, the brand emerged to redefine automotive elegance. From its inception, Bentley has been dedicated to pushing the boundaries of excellence, creating a legacy that continues to captivate enthusiasts worldwide.</p>
        </div>
        
    </div>
</div>